<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Welcome To Game Center</h1>
    </center>

    <h4>Games List</h4>
    <ul>
        <a href="/hero-vs-villian">
            <li>Hero Vs Villian</li>
        </a>
        <a href="/drum-kit">
            <li>Drum Kit</li>
        </a>
        <a href="">
            <li>More Games are Coming Soon..</li>
        </a>

    </ul>
</body>

</html>