<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fight</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="logo">
            <img src="img/logo.png" alt="Hero vs Villain">
        </div>
        <div class="hero">
            <h1 class="name"><%=newNameHero%></h1>
            <form action="/" method="post">
                <button class="refresh" type="submit" value="hh" name="newHERO">Refresh</button>
            </form>
        </div>
        <div class="villain">
            <h1 class="name"><%=newNameVillian%></h1>
            <form action="/" method="post">
                <button class="refresh" type="submit" value="vi" name="newVILLIAN">Refresh</button>
            </form>
        </div>
    </div>
</body>
</html>
